In [1]:
# numpy and pandas imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# ML Libraries for scikit
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import RobustScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.feature_selection import SelectKBest, f_classif, chi2
from sklearn import tree
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,\
                            precision_recall_curve,precision_score,recall_score,roc_auc_score,roc_curve,\
                            matthews_corrcoef, f1_score, make_scorer, auc
from scipy.stats import skew

#  Recursive Feature Elimination
from sklearn.feature_selection import RFE
        
# Python imports
from math import log, sqrt
import re
import collections
import warnings

# decision tree visualization related imports
import pydotplus
import graphviz

from IPython.display import Image

warnings.filterwarnings('ignore')

pd.options.display.max_columns = 400

In [8]:
import dtale 
dtale.show(train)

Exception occurred while processing request: Function names must be unique if there is no new column names assigned
Traceback (most recent call last):
  File "C:\Users\rahul\anaconda3\lib\site-packages\dtale\views.py", line 77, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\dtale\views.py", line 2052, in get_column_analysis
    hist = data.groupby(category_col)[[selected_col]].agg(aggs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\pandas\core\groupby\generic.py", line 942, in aggregate
    relabeling, func, columns, order = reconstruct_func(func, **kwargs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\pandas\core\aggregation.py", line 81, in reconstruct_func
    "Function names must be unique if there is no new column names "
pandas.core.base.SpecificationError: Function names must be unique if there is no new column names assigned

2020-10-02 20:57:44,129 - ERROR    - Exception occurred while processing request: Function names must be unique if there is no new column names assigned
Traceback (most recent call last):
  File "C:\Users\rahul\anaconda3\lib\site-packages\dtale\views.py", line 77, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\dtale\views.py", line 2052, in get_column_analysis
    hist = data.groupby(category_col)[[selected_col]].agg(aggs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\pandas\core\groupby\generic.py", line 942, in aggregate
    relabeling, func, columns, order = reconstruct_func(func, **kwargs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\pandas\core\aggregation.py", line 81, in reconstruct_func
    "Function names must be unique if there is no new column names "
pandas.core.base.SpecificationError: Function names must be unique if there is no new column names assigned

Exception occurred while processing request: Function names must be unique if there is no new column names assigned
Traceback (most recent call last):
  File "C:\Users\rahul\anaconda3\lib\site-packages\dtale\views.py", line 77, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\dtale\views.py", line 2052, in get_column_analysis
    hist = data.groupby(category_col)[[selected_col]].agg(aggs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\pandas\core\groupby\generic.py", line 942, in aggregate
    relabeling, func, columns, order = reconstruct_func(func, **kwargs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\pandas\core\aggregation.py", line 81, in reconstruct_func
    "Function names must be unique if there is no new column names "
pandas.core.base.SpecificationError: Function names must be unique if there is no new column names assigned

2020-10-02 20:57:52,343 - ERROR    - Exception occurred while processing request: Function names must be unique if there is no new column names assigned
Traceback (most recent call last):
  File "C:\Users\rahul\anaconda3\lib\site-packages\dtale\views.py", line 77, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\dtale\views.py", line 2052, in get_column_analysis
    hist = data.groupby(category_col)[[selected_col]].agg(aggs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\pandas\core\groupby\generic.py", line 942, in aggregate
    relabeling, func, columns, order = reconstruct_func(func, **kwargs)
  File "C:\Users\rahul\anaconda3\lib\site-packages\pandas\core\aggregation.py", line 81, in reconstruct_func
    "Function names must be unique if there is no new column names "
pandas.core.base.SpecificationError: Function names must be unique if there is no new column names assigned

Executing shutdown due to inactivity...

2020-10-02 22:12:05,423 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2020-10-02 22:12:13,529 - INFO     - Executing shutdown...

In [70]:
sample= pd.read_csv('./sample_submission.csv')
sample.head(1)

   Unnamed: 0  m13
0       68426    1

In [2]:
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')
pd.set_option('display.max_rows', None)

In [72]:
train.head()

,Unnamed: 0,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,81041,861482495205,Y,"Martinez, Duffy and Bird",3.375,272000,180,2012-01-01,03/2012,72,2.0,31.0,770.0,B12,0.0,786.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,51021,173139140902,Y,"Swanson, Newton and Miller",4.250,371000,360,2012-01-01,03/2012,95,1.0,45.0,727.0,C86,30.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,83866,481942560913,Y,OTHER,4.500,90000,360,2012-01-01,03/2012,69,1.0,39.0,726.0,B12,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,92311,676780245612,Y,"Turner, Baldwin and Rhodes",4.500,47000,240,2012-02-01,04/2012,75,1.0,43.0,688.0,B12,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,72274,433043514697,X,OTHER,4.875,177000,360,2012-01-01,03/2012,80,2.0,13.0,675.0,C86,0.0,672.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [73]:
##print(train['debt_to_income_ratio'].value_counts())
#print(test['debt_to_income_ratio'].value_counts())

In [74]:
test.head()

,Unnamed: 0,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,68426,780423564300,X,OTHER,3.375,144000,180,2012-01-01,03/2012,73,2.0,20.0,790.0,A23,0.0,797.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0
1,49544,472138003270,Y,Browning-Hart,4.375,110000,360,2012-01-01,03/2012,88,1.0,45.0,779.0,C86,25.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0
2,96751,233667097068,X,Browning-Hart,4.125,243000,240,2012-02-01,04/2012,70,2.0,40.0,727.0,B12,0.0,705.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0
3,112058,117580972208,X,OTHER,2.875,189000,120,2012-03-01,05/2012,64,2.0,35.0,798.0,A23,0.0,793.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0
4,85610,440010429529,Z,OTHER,4.000,141000,360,2012-03-01,05/2012,84,2.0,31.0,819.0,A23,12.0,799.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
df = train.copy()
df_test = test.copy()

In [4]:
df['January'] = (df['origination_date']=='2012-01-01').astype('int')
df['February'] = (df['origination_date']=='2012-02-01').astype('int')
df['March'] = (df['origination_date']=='2012-03-01').astype('int')
df.drop('origination_date',axis=1,inplace=True)
#
df['fpay_1'] = (df['first_payment_date']=='02/2012').astype('int')
df['fpay_2'] = (df['first_payment_date']=='03/2012').astype('int')
df['fpay3'] = (df['first_payment_date']=='04/2012').astype('int')
df['fpay4'] = (df['first_payment_date']=='05/2012').astype('int')
df.drop('first_payment_date',axis=1,inplace=True)
#
df_1 = pd.get_dummies(df['financial_institution'])
df = pd.concat([df, df_1],axis=1)
df.drop('financial_institution',axis=1,inplace=True)
#
df['Source_X'] = (df['source']=='X').astype('int')
df['Source_Y'] = (df['source']=='Y').astype('int')
df.drop('source',axis=1,inplace=True)
#
df.drop('Unnamed: 0',axis=1,inplace=True)
df.drop('loan_id',axis=1,inplace=True)
#
df['borrowers_1'] = (df['number_of_borrowers']==1.0).astype('int')
df['borrowers_2'] = (df['number_of_borrowers']==2.0).astype('int')
df.drop('number_of_borrowers',axis=1,inplace=True)
#
df_12 = pd.get_dummies(df['loan_purpose'],prefix='pupose')
df = pd.concat([df,df_12],axis=1)
df.drop('loan_purpose',axis=1,inplace=True)
#
'''debt = pd.get_dummies(df['debt_to_income_ratio'],prefix='debitincome')
df = pd.concat([df,debt],axis=1)
df.drop('debt_to_income_ratio',axis=1,inplace=True)'''
#
scale = ['unpaid_principal_bal']
robust_scaler = RobustScaler()
df.loc[:,scale] = robust_scaler.fit_transform(df.loc[:,scale])

In [5]:
df_test['January'] = (df_test['origination_date']=='2012-01-01').astype('int')
df_test['February'] = (df_test['origination_date']=='2012-02-01').astype('int')
df_test['March'] = (df_test['origination_date']=='2012-03-01').astype('int')
df_test.drop('origination_date',axis=1,inplace=True)
#
df_test['fpay_1'] = (df_test['first_payment_date']=='02/2012').astype('int')
df_test['fpay_2'] = (df_test['first_payment_date']=='03/2012').astype('int')
df_test['fpay3'] = (df_test['first_payment_date']=='04/2012').astype('int')
df_test['fpay4'] = (df_test['first_payment_date']=='05/2012').astype('int')
df_test.drop('first_payment_date',axis=1,inplace=True)
#
df_test_1 = pd.get_dummies(df_test['financial_institution'])
df_test = pd.concat([df_test, df_test_1],axis=1)
df_test.drop('financial_institution',axis=1,inplace=True)
#
df_test['Source_X'] = (df_test['source']=='X').astype('int')
df_test['Source_Y'] = (df_test['source']=='Y').astype('int')
df_test.drop('source',axis=1,inplace=True)
#
df_test.drop('Unnamed: 0',axis=1,inplace=True)
df_test.drop('loan_id',axis=1,inplace=True)
#
df_test['borrowers_1'] = (df_test['number_of_borrowers']==1.0).astype('int')
df_test['borrowers_2'] = (df_test['number_of_borrowers']==2.0).astype('int')
df_test.drop('number_of_borrowers',axis=1,inplace=True)
#
df_test_12 = pd.get_dummies(df_test['loan_purpose'],prefix='pupose')
df_test = pd.concat([df_test,df_test_12],axis=1)
df_test.drop('loan_purpose',axis=1,inplace=True)
#
'''debt = pd.get_dummies(df_test['debt_to_income_ratio'],prefix='debitincome')
df_test = pd.concat([df_test,debt],axis=1)
df_test.drop('debt_to_income_ratio',axis=1,inplace=True)'''
#
scale = ['unpaid_principal_bal']
robust_scaler = RobustScaler()
df_test.loc[:,scale] = robust_scaler.fit_transform(df_test.loc[:,scale])

In [6]:
print(df_test.shape)
print(df.shape)

(23212, 54)
(92846, 55)

test

In [79]:
X = df.drop(['m13'],axis=1)
Y = df['m13']
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

In [80]:
from sklearn.ensemble import RandomForestClassifier
rf_classifier=RandomForestClassifier(n_estimators=10).fit(X_train,y_train)
prediction=rf_classifier.predict(X_test)

In [81]:
y_pred = rf_classifier.predict(df_test)

In [82]:
pred=pd.DataFrame(y_pred)
datasets= pd.concat([test['Unnamed: 0'],pred],axis=1)
datasets.columns=['Unnamed: 0','m13']
datasets.to_csv('sample_submission.csv',index=False)

In [83]:
df_pred = pd.DataFrame({'Actual': y_test, 'Predicted': prediction})
print(df_pred.tail(10))

       Actual  Predicted
51652       0          0
3119        0          0
76241       0          0
20278       0          0
79937       0          0
52041       0          0
80545       0          0
89558       0          0
44263       0          0
21893       0          0

In [84]:

from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(confusion_matrix(y_test,prediction))
print(accuracy_score(y_test,prediction))
print(classification_report(y_test,prediction))

[[18463     8]
 [   64    35]]
0.9961227786752828
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18471
           1       0.81      0.35      0.49        99

    accuracy                           1.00     18570
   macro avg       0.91      0.68      0.75     18570
weighted avg       1.00      1.00      1.00     18570

In [85]:
model=RandomForestClassifier(n_estimators=300,criterion='entropy',
                             max_features='sqrt',min_samples_leaf=10,random_state=100).fit(X_train,y_train)
predictions=model.predict(X_test)
print(confusion_matrix(y_test,predictions))
print(accuracy_score(y_test,predictions))
print(classification_report(y_test,predictions))

[[18462     9]
 [   69    30]]
0.9957996768982229
              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18471
           1       0.77      0.30      0.43        99

    accuracy                           1.00     18570
   macro avg       0.88      0.65      0.72     18570
weighted avg       1.00      1.00      0.99     18570